/*draggble*/

/*Sources*/

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: scrollNews 30s linear infinite;
  padding-left: 40px; /* Adds space to the left of the first headline */
}

@keyframes scrollNews {
  0% {
    transform: translateX(100%); /* Start off-screen from the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}
